@font-face {
    font-family: 'New York';
    src: url('NewYork-Regular.woff2') format('woff2'),
        url('NewYork-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New York';
    src: url('NewYork-RegularItalic.woff2') format('woff2'),
        url('NewYork-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

